[Unit]
Description=DHT11 MQTT
After=openhab.service

[Service]
User=pi
WorkingDirectory=/home/pi/OpenHAB-Scripts
ExecStart=python3 mqtt.dhtsensor.py 'pi/temperature1' 'pi/humidity1' 7
Restart=always

[Install]
WantedBy=multi-user.target